# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/

# Trajectory files
*.npz
*.pkl
*.zip

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

# SLURM jobs files
results/
results_all/
datasets/
datasets_0/
results_0/
datasets_1/
results_1/
datasets_2/
results_2/
slurm.*
slurm_l65_gpu_template_experiment_*
machine.file.*